
body {
  display: flex;
  margin: 0;
}

.sidebar {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: #111;
  padding: 1rem;
}

.sidebar a {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 0.4rem;
}

.sidebar a.active {
  background: #333;
  color: white;
}

.content {
  padding: 2rem;
  flex: 1;
}
